{% extends "layout.html" %}
{% block content %}
    <p>Hello, Flask.</p>
    <p>My first template.</p>
    <input type="text" name="filename" class="file-input">
    <button class="btn btn-getfile">GET File</button>
    <br />
    <textarea class="content editor" rows="10" cols="40"></textarea>
    <br />
    <button class="btn btn-submit">Submit</button>
    <button class="btn btn-login">Login</button>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="static/index.js"></script>
{% endblock %}